<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" *ngIf="!recoverPass" #forma="ngForm" (ngSubmit)="login(forma)">
                <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" autocomplete="off" name="emailUser" ngModel type="text" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Correo electrónico">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <i *ngIf="!ocultarPass" (click)="ocultar()" class="pass fa fa-eye"></i>
                        <i *ngIf="mostrarPass" (click)="mostrar()" class="pass fa fa-eye-slash"></i>
                        <input class="form-control" id="pass" type="password" name="passwordUser" ngModel required placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input id="checkbox-signup" type="checkbox" name="recuerdame" ngModel class="filled-in chk-col-light-blue">
                            <label for="checkbox-signup"> Recuerdame </label>
                        </div>
                        <a (click)="recoverP()" id="to-recover" class="text-dark pull-right cursor"><i class="fa fa-lock m-r-5"></i> ¿Olvidé contraseña?</a> </div>
                </div>
                <div *ngIf="!loginIn" class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button [disabled]="forma.invalid" class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Ingresar</button>
                    </div>
                </div>

                <div *ngIf="loginIn" class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-success btn-lg btn-block text-uppercase btn-rounded" type="button">
                        <i class="fa fa-spinner fa-spin "> </i>   Ingresando
                        </button>
                    </div>
                </div>

                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        ¿No tienes cuenta? <a routerLink="../register" class="text-primary m-l-5"><b>Regístrate</b></a>
                    </div>
                </div>
                <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>ERROR!</strong> El email o la contraseña no son correctas.
                </div>
            </form>






            <!-- Formulario de recuperación de contraseñas -->
            <form #formaConfirmar="ngForm" (ngSubmit)="recoverPassword(formaConfirmar)" class="form-horizontal" *ngIf="recoverPass">
                <div class="form-group">
                    <div class="col-xs-12">
                        <h3>Recuperar contraseña</h3>
                        <p class="text-muted">Ingrese su email para que se le envie su contraseña! </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" autocomplete="off" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required name="correo" ngModel placeholder="Email">
                    </div>
                    <!-- <span class="text-danger" *ngIf="formaConfirmar.errors">Email no es válido</span> -->
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button [disabled]="formaConfirmar.invalid" class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Confirmar</button>
                    </div>
                    <br>
                    <div class="col-xs-12">
                        <button class="btn btn-danger btn-lg btn-block text-uppercase waves-effect waves-light" (click)="salir()">Salir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>